=content_for :header do
  Danger Zone
- unless hide_delete
  .row.form-group
    .col-sm-9
      %label Delete the Service, permanently removing it from the database.
    .col-sm-3
      =link_to "Delete this Service", admin_service_path(@service),
          method: :delete,
          class: "btn btn-danger",
          data: {confirm: "Are you sure?  This action cannot be undone!"}
.row.form-group
  -if @service.published?
    .col-sm-9
      %label Unpublish the Service. This will hide it from the public.
    .col-sm-3
      =link_to "Unpublish", admin_service_path(id: @service.id, service: { published: false }),
          method: :patch,
          class: "btn btn-warning"
  -else
    .col-sm-9
      %label Publish the Service. This will make it visible to the public.
    .col-sm-3
      =link_to "Publish", admin_service_path(id: @service.id, service: { published: true }),
          method: :patch,
          class: "btn btn-success"
