.fare-zone-container{data: {code: ''}}
  =render partial: 'admin/services/region_builder', locals: { can_be_deleted: true }
  =f.simple_fields_for :region do |fzr|
    =fzr.input :recipe, as: :hidden,
      input_html: { class: 'recipe-input', value: [],
        name: input_name_for(@service, :fare_details, :fare_zones) }
