=content_for :header do
  = "Create a New Service"

= f.input :name, required: true, :as => :string
= f.input :type, required: true, collection: ['Transit', 'Paratransit'], include_blank: "Select a Service Type"
