=content_for :header do
  Fares

-fd_js = nil
-new_fz = @service.fare_zones.build

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =f.input :fare_structure, input_html: {class: 'fare-structure'}, collection: FareHelper::VALID_STRUCTURES

  -fare_details = @service.fare_details || {}

  -# FLAT (& MILEAGE)
  .fare-inputs.flat-fare.mileage-fare.hidden
    =f.fields_for :fare_details do |fd|
      =fd.input :base_fare, as: :float, input_html: {value: fare_details[:base_fare]}

  -# MILEAGE ONLY
  .fare-inputs.mileage-fare.hidden
    =f.fields_for :fare_details do |fd|
      =fd.input :mileage_rate, as: :float, input_html: {value: fare_details[:mileage_rate]}
      =fd.input :trip_type, input_html: {value: @service.type}

  -# ZONE
  .fare-inputs.zone-fare.hidden
    -# Fare Zone Region Builders
    =f.fields_for :fare_details do |fd|
      -fd_js = fd
      .fare-zones-container
        -# -@service.fare_zones.each do |fz|
          -# =render partial: 'admin/services/fare_zone', locals: {f: fd, fare_zone: fz}
      .btn.add-fare-zone
        %span.text-muted.pull-left add a new fare zone
        %span.text-muted.glyphicon.glyphicon-plus.pull-right
      -# =render partial: 'admin/services/fare_table', locals: {f: fd}

  -# TFF
  .fare-inputs.taxi_fare_finder-fare.hidden
    =f.fields_for :fare_details do |fd|
      =fd.input :taxi_fare_finder_city, input_html: {value: fare_details[:taxi_fare_finder_city]}

:javascript
  $(document).ready(function() {
    new FareZoneHelper(
      '#{@service.fare_details[:fare_zones].to_json}',
      $('.fare-zones-container'),
      '#{escape_javascript render partial: "admin/services/fare_zone", locals: {f: fd_js} }'
    );

    var fh = new FormHandler($('#{form_selector_from_id}'));

    // JQuery reference to fare structure selector element
    var fareStructureInput = $('.fare-structure');

    // Show appropriate fare inputs and hide all others
    var showFareInputs = function() {
      var fareStructure = fareStructureInput.val();
      $('.fare-inputs').addClass('hidden');
      $('.fare-inputs.' + fareStructure + '-fare').removeClass('hidden');
    };

    // On page load, show proper fare inputs
    showFareInputs();

    // Show correct fare inputs when a new structure is selected.
    fareStructureInput.change(showFareInputs);

    // Form reset callback
    fh.onReset(function() {
      showFareInputs(); // Show correct fare inputs when form is reset
      M.recipes.fareZoneRecipes.forEach(function(r) {
        r.reset(); // Reset each fare zone recipe
      });
    });

    // Add new fare zone click handler
    $('.add-fare-zone').click(function() {
      console.log("ADD FARE ZONE!");
    });

  });
