- ## LOCALS:
-# should_be_readonly: A boolean meant to represent whether or not the current user
-# can update the form
- should_be_readonly = (cannot? :update, @service)

=content_for :header do
  General Info
  =render partial: "shared/published_badge", locals: {object: @service}

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =f.input :name, readonly: should_be_readonly
  =logo_upload_input(f, readonly: should_be_readonly)
  =f.input :url, readonly: should_be_readonly
  =f.input :phone, readonly: should_be_readonly
  =f.input :email, readonly: should_be_readonly


:javascript
  $(document).ready(function() {
    const fh =new FormHandler($('#{form_selector_from_id}'));
    if ('#{@service&.service_oversight_agency&.oversight_agency.nil?}' == 'true') {
      fh.enableButtons()
    }
  });
