=content_for :header do
  Comments

-@service.comments.each do |comment|
  =f.simple_fields_for "comments_attributes[]", comment do |comment_form|
    =comment_form.input :id, wrapper_html: {class: "hidden"}
    =comment_form.input :locale, wrapper_html: {class: "hidden"}
    =comment_form.input :comment, label: "Comment (#{comment_form.object.locale})"
