=content_for :header do
  General Info

=f.input :name
.form-group.file.optional
  .col-sm-1
    %img{ src: @service.logo.thumb.url}
  =f.label :logo, class: "control-label col-sm-2"
  .col-sm-9
    .input-group.col-xs-12
      =f.input_field :logo, class: "form-control file optional", type: "file"
=content_for :footer do
  -# = f.submit "OK", class: 'btn action-button btn-primary', role: 'button'
  = f.button :submit, "OK", class: "btn action-button btn-primary", role: 'button'
