%tr{style: "cursor: pointer", data: {url: admin_service_path(service)}}
  %td
    %img{ src: service.logo.thumb.url}
  %td
    =service.name
  %td
    =service.type
  %td
    =service.agency.try(:name)
  %td
    =service.service_oversight_agency&.oversight_agency.try(:name)
  %td
    =render partial: "shared/published_badge", locals: {object: service}
