=content_for :header do
  General Info

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =f.input :name
  =logo_upload_input(f)
  =f.input :url
  =f.input :phone
  =f.input :email
  -if can? :manage, Agency  # Only show agency menu if the user can manage agencies
    =f.association :agency, collection: current_user.accessible_agencies, include_blank: "Select an Umbrella Agency"



:javascript
  $(document).ready(function() {
    new FormHandler($('#{form_selector_from_id}'));
  });
