=content_for :header do
  General Info

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =f.input :name
  -# CUSTOM FIELD FOR LOGO
  .form-group.file.optional
    .col-sm-1
      %img{ src: @service.logo.thumb.url}
    =f.label :logo, class: "control-label col-sm-2"
    .col-sm-9
      .input-group.col-xs-12
        =f.input_field :logo, class: "form-control file optional", type: "file"
  =f.input :url
  =f.input :phone
  =f.input :email
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial


:javascript
  $(document).ready(function() {
    console.log("FORM SELECTOR: ", '#{form_selector_from_id}');
    new FormHandler($('#{form_selector_from_id}'));
  });
