=content_for :header do
  Transit Details

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =f.input :gtfs_agency_id

:javascript
  $(document).ready(function() {
    new FormHandler($('#{form_selector_from_id}'));
  });
