=content_for :title do
  = "Editing #{@service.type} Service: #{@service.name}"

=render partial: 'service_general_info', layout: '/layouts/panel'
=render partial: 'service_comments', layout: '/layouts/panel'

-case @service.type
-when 'Transit'
  =render partial: 'transit_details', layout: '/layouts/panel'
-when 'Paratransit'
  =render partial: 'paratransit_accom_and_elig', layout: '/layouts/panel'
  =render partial: 'paratransit_purposes', layout: '/layouts/panel'
  =render partial: 'paratransit_service_areas', layout: '/layouts/panel'
  =render partial: 'paratransit_schedules', layout: '/layouts/panel'
  =render partial: 'service_fares', layout: '/layouts/panel'
-when 'Taxi'
  =render partial: 'taxi_accommodations', layout: '/layouts/panel'
  =render partial: 'taxi_service_area', layout: '/layouts/panel'
  =render partial: 'service_fares', layout: '/layouts/panel'
-when 'Uber'
  =render partial: 'taxi_accommodations', layout: '/layouts/panel'
  =render partial: 'uber_service_area', layout: '/layouts/panel'
  
=render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_footer: true }

.text-center
  =link_to "All Services", admin_services_path, method: :get, class: 'btn btn-lg btn-link'
