=content_for :header do
  =accommodation.code

= render :partial => 'shared/translations', :locals => { object: accommodation }

=content_for :footer do
  =button_to 'Delete', admin_accommodation_path(accommodation), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?  This action cannot be undone!"}}
