%table{:style=>"text-align: left; border: 1px; width: 100%"}
	%tr
		%th Date
		%th Service
		%th Rating
		%th Review
		%th Contact
	%tr
		%td.text-nowrap
			=feedback.created_at.strftime("%Y-%m-%d")
		%td
			=feedback.subject
		%td
			-if feedback.rating.present?
				="#{feedback.rating}/5"
		%td
			=truncate(feedback.review, length: 50)
		%td
			=feedback.contact
%hr

=link_to "Click here to acknowledge feedback.", admin_feedback_url(feedback)
