%h1{style: 'text-align:left'}
  ="You have booked the following trip(s) via FindMyRidePA:"

%p{style: 'text-align: left'}
  %span{style: 'font-weight: 700'}
    ="THIS IS AN AUTOMATED MESSAGE - DO NOT REPLY DIRECTLY TO THIS EMAIL. PLEASE CALL YOUR LOCAL TRANSIT AGENCY WITH ANY QUESTIONS OR CONCERNS REGARDING YOUR TRIP."
%br