%h1{style: 'text-align: left;'}
  = translate('api_v1.emails.user_trip_header.opener')

%p{style: 'text-align: left;'}
  %span{style: 'font-weight: 700;'}
    = translate('api_v1.emails.user_trip_header.automated_message')
%br