Estimated Fare:
=itinerary.cost

Estimated Travel Time:
=itinerary.duration

%td{style: "text-align: center;", colspan: 2}
  %div{style: "width:100%;background: white; border-radius: 5px; padding: 10px;"}
    =image_tag(attachments[itinerary.id.to_s + ".png"].url)