%table
  %tr
    //%td.itinerary_icons
    //  =image_tag(attachments["start.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
    //%td.itin_text_container
    //  .itinerary_text
    //    = translate_helper(:start) + itinerary.trip_part.from_trip_place.name
    //  .itinerary_text_small
    //    = format_time(itinerary.start_time.in_time_zone)

  -itinerary.legs.each do |leg|
    %tr
      //%td.itinerary_icons{style: "vertical-align:top;"}
      //  %img{:src => get_mode_icon(leg.mode)}
      %td.itin_text_container
        .itinerary_text
          %p= html_steps(leg['steps'])
        %h3
          =[duration_to_words(leg['duration']), exact_distance_to_words(leg['distance'])].join(', ')
  //%tr
  //  %td.itinerary_icons
  //    =image_tag(attachments["stop.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
  //  %td.itin_text_container
  //    .itinerary_text
  //      = translate_helper(:arrive) + itinerary.trip_part.to_trip_place.name
  //    .itinerary_text_small
  //      = format_time(itinerary.end_time.in_time_zone)
  //%tr
  //  %td{style: "text-align: center;", colspan: 2}
  //     -if itinerary.map_image
  //       %div{style: "width:100%;background: white; border-radius: 5px; padding: 10px;"}
  //        =image_tag(attachments[itinerary.id.to_s + ".png"].url)
