%p
  Dear Staff of 
  %b #{@agency.name}:
%p 
  Our records indicate that it has been over 6 months since your agency has been
  updated. Please log in to 
  %a{href: admin_agency_url(@agency)} your Agency Profile
  at your earliest convenience, and make sure the agency information is correct 
  and complete.
%p Sincerely,
%p
  %b
    LYNX VTRACS
  %br
  %a{href: root_url}=root_url
