%p
  Dear Staff of 
  %b #{@agency.name}:
%p 
  Our records indicate that an agency has been created for you in the LYNX VTRACS system. Please log in to 
  %a{href: admin_agency_url(@agency)} your Agency Profile
  at your earliest convenience, and make sure the agency information is correct and complete.
%p Once you have done so, click "Publish" to make your agency visible to the public via the LYNX VTRACS system.
%p Sincerely,
%p
  %b
    LYNX VTRACS
  %br
  %a{href: root_url}=root_url
