%p
  Dear Staff of
  %b #{@service.name}:
%p 
  Our records indicate that it has been over 6 months since your service has been
  updated. Please log in to 
  %a{href: admin_service_url(@service)} your Service Profile
  at your earliest convenience, and make sure the agency information is correct 
  and complete.
%p Sincerely,
%p
  %b
    LYNX VTRACS
  %br
  %a{href: root_url}=root_url