%p
  Dear
  %b #{@user.full_name_or_email}:
%p 
  It looks like you haven't updated your LYNX account in a while. 
  Please 
  %a{href: Config.ui_url}="log in to your account" 
  to confirm that your information is still up-to-date.

%p Sincerely,
%p
  %b
    LYNX VTRACS
  %br
    %a#unsubscribe-user{href: '#'}="Click here to unsubscribe from these emails"

:javascript
  // HTTP POST request to unsubscribe user from email updates
  var unsubscribeButton = document.getElementById("unsubscribe-user");
  unsubscribeButton.addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '#{unsubscribe_api_v2_users_url}');
    xhr.setRequestHeader('X-User-Email', '#{@user.email}');
    xhr.setRequestHeader('X-User-Token', '#{@user.authentication_token}');
    xhr.send();
  }, false);
