=content_for :header do
  =eligibility.code

= render :partial => 'shared/translations', :locals => { object: eligibility }

=content_for :footer do
  =button_to 'Delete', admin_eligibility_path(eligibility), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?  This action cannot be undone!"}}
