=content_for :header do
  ="Create a New Eligibility"
=content_for :body do
  = f.input :code, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
=content_for :footer do
  = f.submit "OK", class: 'btn action-button btn-primary', role: 'button'
