=content_for :title do
  = @eligibility.code

=render partial: 'edit_eligibility', layout: '/layouts/panel'
=render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_footer: true }

=back_link admin_eligibilities_path, label: "All Eligibilities"
