%h1.text-center
  Eligibilities

%div.row
  %div.col-md-1
  %div.col-md-10
    -@eligibilities.each do |eligibility|
      .panel.panel-default
        .panel-heading
          %h4
            =eligibility.code
        .panel-body
          ='This panel will be used to show more information about this eligibilty in the future.  E.g., Number of services using it.  Number of travelers who have answered the question.  What the relevant translations are for this eligibility E.g, Question, Note, Name etc.'
        .panel-footer
          %center
            =button_to 'Delete', admin_eligibility_path(eligibility), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?  This action cannot be undone!"}}

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-primary
      .panel-heading
        %h4
          ="Create a new Eligibility"
      .panel-body
        ="ok"
        %div.row
          %center 
            %a.btn.btn-primary.btn-sm.create_new_eligibility
              ="Create"
