=content_for :title do
  Eligibilities

=render partial: 'eligibility', layout: '/layouts/panel', collection: @eligibilities

= simple_form_for @new_eligibility, url: admin_eligibilities_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
  =render partial: 'new_eligibility', layout: '/layouts/new_record_panel', locals: {f: f}
