%table.table.table-hover.feedbacks-table
  %thead.thead-default
    %tr
      %th Date
      %th Service
      %th Rating
      %th Review
      %th Contact
  %tbody
    -@feedbacks.each do |feedback|
      %tr{style: "cursor: pointer", data: {url: admin_feedback_path(feedback)}}
        %td.text-nowrap
          =feedback.created_at.strftime("%Y-%m-%d")
          -puts feedback.created_at
          -puts (Time.now - Config.feedback_overdue_days.days)
          -if feedback.created_at < (Time.now - (Config.feedback_overdue_days || 5).days) and not feedback.acknowledged
            %span.label.label-danger Overdue

        %td
          =feedback.feedbackable.try(:name) || "General"
        %td
          -if feedback.rating.present?
            =rating_stars(feedback.rating)
        %td
          =truncate(feedback.review, length: 50)
        %td
          =feedback.contact

:javascript
  $(document).ready(function() {
  
    // Link to appropriate feedback detail on row click
    $('.feedbacks-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });
