-# For use in building new service schedule forms
-can_update = (mode != 'view' && (can? :update, @travel_pattern))

.form-group.string.optional.label-container
  .col-sm-12
    %label.control-label.text.optional
      Service Schedules (Prioritized Order):
.well.well-sm.autocomplete-tag-index
  =f.simple_fields_for :travel_pattern_service_schedules,@travel_pattern_service_schedules do |tpss_form|
    -object = tpss_form.object
    =render partial: "autocomplete_tag", locals: { form: tpss_form, tag_label: object&.service_schedule&.name, object: object, unique_key: :service_schedule_id, object_fields: [:id, :service_schedule_id, :_destroy], can_update: can_update }
  .autocomplete-tag-new
    .input-group
      %input.autocomplete-field.form-control{ placeholder: 'Enter a service schedule', data: { source: "travelPatternServiceSchedulesSource" } }
    .dropdown.autocomplete-results{style: 'position:absolute; z-index:500'}

:javascript
  function travelPatternServiceSchedulesSource () {
    return JSON.parse('#{@agency.service_schedules.order(:name).map{ |service_schedule| {label: service_schedule[:name], "unique-key" => service_schedule.id}}.to_json.html_safe}');
  }
