:css
  .center-buttons {
    text-align: center;
  }

=content_for :title do
  Travel Patterns

%table.table.table-hover.datatable#travel-patterns-table
  %thead.thead-default
    %tr
      %th Agency
      %th Name
      %th Actions
  =render partial: 'travel_pattern', collection: @travel_patterns

%div.text-center
  - modalID = 'new-travel_pattern'
  - if can? :create, TravelPattern
    - if @agency_map.length == 1
      =link_to 'New Travel Pattern', new_admin_travel_pattern_path(agency_id: @agency_map.first[1]), class: 'btn btn-primary'
    - elsif current_user&.currently_transportation?
      =link_to 'New Travel Pattern', new_admin_travel_pattern_path(agency_id: current_user&.current_agency&.id), class: 'btn btn-primary'
    -else
      =link_to 'New Travel Pattern', '#' + modalID, class: 'btn btn-primary', 'data-toggle' => 'modal'
  =link_to 'Return to Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return to Dashboard', admin_path, class: 'btn btn-default'

=render layout: '/layouts/modal', locals: { title: 'Select Agency for New Travel Pattern', modalID: modalID } do
  =render partial: '/shared/select_agency', locals: { form_url: new_admin_travel_pattern_path }

:javascript

  $(document).ready(function() {
    // Link to appropriate feedback detail on row click
    $('#travel-patterns-table tbody tr td').click(function(e) {
      if (e.target !== this) {
        return;
      }
      else {
        window.location = $(this).closest("tr").data("url");
      }
    });

    var dataTable = $('.datatable').DataTable({});

    document.addEventListener("turbolinks:before-cache", function() {
      if (dataTable !== null) {
       dataTable.destroy();
       dataTable = null;
      }
    });
  });
