=content_for :title do
  = @purpose.code

=render partial: 'edit_purpose', layout: '/layouts/panel'
=render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_footer: true }

.text-center
  =link_to "All Purposes", admin_purposes_path, method: :get, class: 'btn btn-lg btn-link'
