%h1.text-center
  Purposes

%div.row
  %div.col-md-3
  %div.col-md-6
    -@purposes.each do |purpose|
      .panel.panel-default
        .panel-heading
          %h4
            =purpose.code
        .panel-body
          ='This panel will be used to show more information about this purpose in the future.  E.g., Number of trips using it.  What the relevant translations are for this purpose etc.'
        .panel-footer
          %center
            =button_to 'Delete', admin_purpose_path(purpose), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?  This action cannot be undone!"}}

%div.row
  %div.col-md-3
  %div.col-md-6
    .panel.panel-primary
      .panel-heading
        %h4
          ="Create a new Purpose"
      = simple_form_for @new_purpose, url: admin_purposes_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
        .panel-body.panel-primary
          %div.col-md-12
            %label
              = "Code"
            = f.input :code, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
        .panel-footer.panel-primary 
          %center 
            = f.submit "OK", class: 'btn action-button btn-primary', role: 'button'
