=content_for :title do
  Purposes

=render partial: 'purpose', layout: '/layouts/panel', collection: @purposes

= simple_form_for @new_purpose, url: admin_purposes_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
  =render partial: 'new_purpose', layout: '/layouts/new_record_panel', locals: {f: f}
