=content_for :title do
  Service Schedules

%table.table.table-hover.datatable#services-table
  %thead.thead-default
    %tr
      %th Agency
      %th Name
      %th Type
      %th Start Date
      %th Ends Date
      %th
  =render partial: 'service_schedule', collection: @service_schedules
-#-if can? :create, Service
-#  = simple_form_for :service, url: admin_services_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
-#    =render partial: 'new_service', layout: '/layouts/new_record_panel', locals: {f: f}

:javascript

  $(document).ready(function() {
    // Link to appropriate feedback detail on row click
    $('#services-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });

    $('.datatable').DataTable({});

  });
