=content_for :title do
  Custom Geographies
%section.container--two-col
  %table.table.table-hover.datatable#geographies{data: {turbolinks: false}}
    %thead.thead-default
      %tr
        %th Name
    %tbody
      -@geographies.each do |geography|
        %tr
          %td
            = geography&.name
  %div.map_placeholder
%footer.footer__links
  =link_to 'New Custom Geography', new_admin_custom_geography_path, class: 'btn btn-primary'
  =link_to 'Return To Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return To Dashboards', admin_path, class: 'btn btn-default'

:javascript
    $(document).ready(function() {

    $('.datatable#geographies').DataTable({});

  });
