=content_for :title do
  Custom Geographies
%section.container--two-col
  %table.table.table-hover.datatable#geographies
    %thead.thead-default
      %tr
        %th Name
        %th{aria:{label: 'Actions available'}}
    %tbody
      -@geographies.each do |geography|
        %tr
          %td
            = geography&.name
          %td.text-right{aria:{label: "Download/ Delete #{geography&.name} record(NOT AVAILABLE)"}}
            %button.btn.btn--no-bg{type: 'button',disabled:true}
              %span.glyphicon.glyphicon-download-alt{aria:{hidden:true}}
            %button.btn.btn--no-bg.text-danger{type: 'button',disabled:true}
              %span.glyphicon.glyphicon-trash{aria:{hidden:true}}
  %div.map_placeholder
%footer.footer__links
  =link_to 'New Custom Geography', new_admin_custom_geography_path, class: 'btn btn-primary'
  =link_to 'Return To Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return To Dashboards', admin_path, class: 'btn btn-default'

:javascript
    $(document).ready(function() {

    // Configure DataTable so that the button thing can't be sorted
    $('.datatable#geographies').DataTable({
      columns: [
        {orderable: true},
        {orderable: false}
    ]});


  });
