=content_for :title do
  Custom Geographies
%section.container--two-col
  %table.table.table-hover.datatable#geographies-table
    %thead.thead-default
      %tr
        %th Name
        %th{aria:{label: 'Actions available'}}
    %tbody
      -@geographies.each do |geography|
        %tr
          %td
            = geography&.name
          %td.text-right
            %button.btn.btn--no-bg{type: 'button',
              disabled:true,
              data:{id: geography.id, purpose: 'download'}}
              %span.glyphicon.glyphicon-download-alt{aria:{hidden:true}}
            =link_to admin_custom_geography_path(geography.id),
              method: :delete,
              class: "btn text-danger btn--no-bg",
              data: {confirm: "Are you sure?  This action cannot be undone!"} do
              %span.glyphicon.glyphicon-trash{aria:{hidden:true}}
  %div.map_placeholder
%footer.footer__links
  =link_to 'New Custom Geography', new_admin_custom_geography_path, class: 'btn btn-primary'
  =link_to 'Return To Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return To Dashboards', admin_path, class: 'btn btn-default'

:javascript
    $(document).ready(function() {

    // NOTE: if the user clicks the download/ delete button, we'll need to stop
    // event bubbling so that the map doesn't try to change along with the redirect
    // Might be overkill but it'd result in a bit of a cleaner experience

    // Configure DataTable so that the button thing can't be sorted
    $('.datatable#geographies-table').DataTable({
      columns: [
        {orderable: true},
        {orderable: false}
    ]});


  });
