@import 'mixins';
@import 'variables';
@import 'bootstrap_extensions';

.btn.autocomplete-tag-show {
  @include unit-box($brand-primary-pastel);
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 5px 0px 5px 5px;
  line-height: 2.2;
  height: 48px;
  cursor: default;

  label {
    margin-left: 8px;
  }
}

.autocomplete-tag-new {
  @include dashed-unit-box($gray-paler);

  height: 48px;
  padding: 6px;
  margin-bottom: 2px;
  margin-top: 2px;

  input.autocomplete-field {
    height: 34px;
    @include subtle-input
  }

  label {
    margin-top: 5px;
  }
}

.autocomplete-results ul {
  padding: 0;

  li {
    padding-left: 6px;
  }

  :hover {
    background-color: lightblue;
  }
}