footer {
  padding: 20px;
}

div.checkbox,
div.radio {
  padding-left: 15px;
}

.nav.navbar-right.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: baseline
}

// Fixes strange checkbox alignment in User Reports Download component
.boolean-wrapper > .col-sm-9 > .input-group.col-sm-12 {
  margin-left: 20px;
}

header.header--two-col {
  display: flex;
  margin: 20px 0 10px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  > * {
    min-width: 50%;
    height: 100%;
  }
  > div > h1 {
    width: 100%;
    margin: 0;
    text-align: right;
  }
}

.container--two-col {
  display: flex;
  > *:first-child {
    min-width: 55%;
    height: 100%;
  }
}
