header.header--two-col > .wrapper__header-form {
  min-width: 250px;
}

form#geography_type_form {
  > .form-group {
    margin-bottom: 0;
  }
  select#type_type {
    height: 40px;
  }
}

.footer__links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 36px;

  & a:first-child {
    margin-right: 16px;
  }
}