// SERVICE SCHEDULES STYLING

@import 'mixins';
@import 'variables';
@import 'bootstrap_extensions';


.delete-schedule {
  @include custom-btn-link($brand-danger);
}

.confirm-schedule {
  @include custom-btn-link($brand-success);
}

.schedule-row-label {
  margin: 10px 0;
  // margin-bottom: 0;
}

.schedule-row-body-wrapper {
  padding: 0 10px;
}

.schedule-body {
  &.schedule-active {
    @include unit-box($brand-info-pastel);

    .confirm-schedule {
      display: none;
    }
  }

  &.schedule-inactive {
    @include unit-box(lightgray);

    .schedule-input {
      color: $gray-pastel;
    }

    .delete-schedule {
      display: none;
    }
  }

  display: inline-block;
  border-radius: 3px;
  padding: 5px 0 5px 5px;
  margin: 0 5px 5px 0;

  .schedule-form-group .schedule-input {
    border: none;
    background-color: transparentize(white, 0.8);
    box-shadow: none;
    // width: 80px;
    padding-right: 0px;
    font-weight: bold;
  }

  .btn.btn-link {
    padding: 6px 5px 6px 0;
  }
}
