// SERVICE FARES STYLING

@import 'mixins';
@import 'variables';

#fare-zones-table {
  td {
    min-width: 60px;
  }

  .fare-table-input {
    max-width: 60px;
  }
}

.add-fare-zone {
  @include dashed-unit-box($gray-paler);

  font-size: 14pt;
  padding: 25px 20px 25px 40px;
  margin: 10px 0 50px;
  width: 100%;

  span {
    margin-left: 20px;
  }

  .glyphicon {
    font-size: 20pt;
    margin-bottom: 4px;
  }

}

#table-replacer {
  @include dashed-unit-box($gray-paler);

  font-size: 14pt;
  padding: 60px 20px;
  margin: 10px 0 20px;
  width: 100%;

  div {
    text-align: center;
  }

}
