// SERVICE GEOGRAPHIES STYLING

@import 'mixins';
@import 'variables';

#map {
  height: 350px;
}

// For GeoRecipe ingredient display
.btn.ingredient-container {
  padding-right: 0px;
  margin: 4px;

  &.County {
    @include unit-box($brand-primary-pastel);

    .delete-geography {
      @include custom-btn-link($brand-primary);
    }
  }

  &.City {
    @include unit-box($brand-success-pastel);

    .delete-geography {
      @include custom-btn-link($brand-success);
    }
  }

  &.Zipcode {
    @include unit-box($brand-warning-pastel);

    .delete-geography {
      @include custom-btn-link($brand-warning);
    }
  }

  &.CustomGeography {
    @include unit-box($brand-danger-pastel);

    .delete-geography {
      @include custom-btn-link($brand-danger);
    }
  }

}
