// SERVICE GEOGRAPHIES STYLING

@import 'mixins';
@import 'variables';

$ingredient-height: 48px;

#map {
  height: 350px;
}

// For GeoRecipe ingredient display
.btn.ingredient-container {

  &.County {
    @include unit-box($brand-primary-pastel);

    .delete-geography {
      @include custom-btn-link($brand-primary);
    }
  }

  &.City {
    @include unit-box($brand-success-pastel);

    .delete-geography {
      @include custom-btn-link($brand-success);
    }
  }

  &.Zipcode {
    @include unit-box($brand-warning-pastel);

    .delete-geography {
      @include custom-btn-link($brand-warning);
    }
  }

  &.CustomGeography {
    @include unit-box($brand-danger-pastel);

    .delete-geography {
      @include custom-btn-link($brand-danger);
    }
  }

  &.Landmark {
    @include unit-box($brand-info-pastel);

    .delete-geography {
      @include custom-btn-link($brand-primary);
    }
  }

  &.LandmarkSet {
    @include unit-box($brand-info-pastel);

    .delete-geography {
      @include custom-btn-link($brand-primary);
    }
  }

  label {
    margin-left: 8px;
  }

}

.well.ingredient-container {
  padding-bottom: 0;
}

.add-ingredient {
  @include dashed-unit-box($gray-paler);

  height: $ingredient-height;
  padding: 6px;

  span + span {
    margin-left: 10px;
  }

  .ingredient-input {
    padding: 0;

    input {
      height: 34px;
      @include subtle-input
    }
  }
}

.region-label-container {
  margin-bottom: 5px;
}

.delete-region {
  height: $ingredient-height;
  font-size: 22pt;

  @include custom-btn-link($gray-pale);
}

#fare-table-label {
  margin-bottom: 5px;
}
