// Flex Forms
.flex-outer .form-group {
  margin-left: -5px;
}

.flex-outer .form-group, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.flex-inner > label {
  text-align: right;
  min-width: 88px;
  padding-right: 10px;
  padding-top: 5px;
}
 
.flex-inner {
  flex: 1 0 auto;
  margin-left: 5px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-1 .input-group {
  width: 100%;
}