### LOCAL ENV VARIABLES ###
# This file is read by application.rb during startup, and set as ENV['KEY'] variables.

### BOOKING PASSWORD ENCRYPTION ###
# BOOKING_PASSWORD_ENCRYPTION_KEY: ""

### SMTP EMAIL CONFIG ###
# SMTP_SERVER: ""
# SMTP_USER_NAME: ""
# SMTP_PASSWORD: ""

### AWS S3 BUCKET CONFIG ###
# S3_REGION: ''
# AWS_BUCKET: ''
# AWS_ACCESS_KEY_ID: ''
# AWS_SECRET_ACCESS_KEY: ''
# AWS_LOCALE_STORAGE: 'false' # Configures whether or not to automatically store locale files on AWS.

### API REQUEST LOGGING ###
# LOG_API_REQUESTS: 'true' # Sets whether or not to log all API requests to the RequestLog table

### I18N ###
# DEFAULT_LOCALE: 'es' # defaults to en
# AVAILABLE_LOCALES: 'en,es,ht,pt,vi' # defaults to en,es

### DATABASE ###
# DATABASE: 'oneclick-core_development' # change this to swap out the database being used

### Travel Patterns ###
dashboard_mode: travel_patterns # The default behavior and the behavior used for running RSPEC tests

### SSL ###
# Paths to local SSL certificates, I reccomend using mkcert to create valid certificates
ssl_key: localhost-key.pem
ssl_cert: localhost.pem

### SSO ###
sso_provider: esec # aka Keystone Login

### Misc ###
RAILS_LOG_TO_STDOUT: "true"
LANG: "en"