%tr{style: "cursor: pointer", data: {url: admin_agency_path(agency)}}
  %td
    %img{ src: agency.logo.thumb.url}
  %td
    =agency.name
  %td
    =agency.type
  %td
    =agency.type == 'TransportationAgency' ? agency.agency_oversight_agency&.oversight_agency&.name : nil
  %td
    =render partial: "shared/published_badge", locals: {object: agency}
