=content_for :header do
  %img{ src: agency.logo.thumb.url}
  =agency.name

= "Type: #{agency.type}"

=content_for :footer do
  =link_to 'Delete', admin_agency_path(agency), 
      { method: :delete, 
        class: "btn btn-danger btn-sm", 
        data: {confirm: "Are you sure?  This action cannot be undone!"}}
  =link_to 'Edit Agency', admin_agency_path(agency), 
      { method: :get, 
        class: "btn btn-primary btn-sm"}
