-# LOCALS:
  hide_delete: if hide_delete=true, then hide the delete button

=content_for :header do
  Danger Zone

.row.form-group
  -if @agency.published?
    .col-sm-9
      %label Unpublish the Agency. This will hide it from the public.
    .col-sm-3
      =link_to "Unpublish", admin_agency_path(id: @agency.id, agency: { published: false }),
          method: :patch,
          class: "btn btn-warning"
  -else
    .col-sm-9
      %label Publish the Agency. This will make it visible to the public.
    .col-sm-3
      =link_to "Publish", admin_agency_path(id: @agency.id, agency: { published: true }),
          method: :patch,
          class: "btn btn-success"
- unless hide_delete
  .row.form-group
    .col-sm-9
      %label Delete the Agency, permanently removing it from the database.
    .col-sm-3
      =link_to "Delete this Agency", admin_agency_path(@agency),
          method: :delete,
          class: "btn btn-danger",
          data: {confirm: "Are you sure?  This action cannot be undone!"}
