=content_for :header do
  Agency Info
  =render partial: "shared/published_badge", locals: {object: @agency}


=simple_form_for @agency,
  url: admin_agency_path, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|

  =f.input :name
  =logo_upload_input(f, img_src: @agency.logo.thumb.url)
  =f.input :url
  =f.input :phone
  =f.input :email
  =render partial: "shared/description_fields", locals: { form: f, record: @agency }

  -# For type-specific fields
  -case @agency.type
  -when "TransportationAgency"
    =simple_form_for :oversight do |foa|
      -# Automatically assign the new agency to the current user's oversight agency
        if they are an oversight agency admin
      - if current_user.superuser?
        = foa.input :oversight_agency_id,
          required: true,
          collection: OversightAgency.all,
          label_method: :name,
          value_method: :id,
          selected: @agency.agency_oversight_agency&.oversight_agency_id,
          wrapper_html: {id: 'oversight_select'}
      - if current_user.staff_agency == 'OversightAgency'
        = foa.input :oversight_agency_id,
          collection: [@agency.agency_oversight_agency],
          label_method: :name,
          value_method: :id,
          include_blank: false,
          readonly: true,
          selected: @agency.agency_oversight_agency&.oversight_agency_id,
          wrapper_html: {id: 'oversight_select'}
  -when "PartnerAgency"
  -when "OversightAgency"
  -else
  
:javascript
  $(document).ready(function() {
    var fh = new FormHandler($('#{form_selector_from_id}'));
  });
