=content_for :header do
  Agency Info
  .pull-right
    -if @agency.published?
      %span.badge.badge-success PUBLISHED
    -else
      %span.badge.badge-warning NOT PUBLISHED

=simple_form_for @agency,
  url: admin_agency_path, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|

  =f.input :name
  =logo_upload_input(f, img_src: @agency.logo.thumb.url)
  =f.input :url
  =f.input :phone
  =f.input :email

  -# For type-specific fields
  -case @agency.type
  -when "TransportationAgency"
  -when "PartnerAgency"
  -else
  
:javascript
  $(document).ready(function() {
    var fh = new FormHandler($('#{form_selector_from_id}'));
  });
