=content_for :title do
  = "Editing #{@agency.name}"

=render partial: 'edit_agency', layout: '/layouts/panel'

.panel.panel-danger
  .panel-heading
    %h4 Danger Zone
  .panel-body
    .row.form-group
      .col-sm-9
        %label Delete the Agency, permanently removing it from the database.
      .col-sm-3
        =link_to "Delete this Agency", admin_agency_path(@agency), 
            method: :delete, 
            class: "btn btn-danger", 
            data: {confirm: "Are you sure?  This action cannot be undone!"}
    .row.form-group
      -if @agency.published?
        .col-sm-9
          %label Unpublish the Agency. This will hide it from the public.
        .col-sm-3
          =link_to "Unpublish", admin_agency_path(id: @agency.id, agency: { published: false }),
              method: :patch,
              class: "btn btn-warning"
      -else
        .col-sm-9
          %label Publish the Agency. This will make it visible to the public.
        .col-sm-3
          =link_to "Publish", admin_agency_path(id: @agency.id, agency: { published: true }),
              method: :patch,
              class: "btn btn-success"

-if can_access_all?(Agency)
  .text-center
    =link_to "All Agencies", admin_agencies_path, method: :get, class: 'btn btn-lg btn-link'
