=content_for :title do
  = "Editing #{@agency.name}"

=render partial: 'edit_agency', layout: '/layouts/panel', locals: {hide_footer: (cannot? :update, @agency)}
- if can? :update, @agency
  =render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_delete: (cannot? :delete, @agency), hide_footer:true }

-if can_access_all?(Agency)
  =back_link admin_agencies_path, label: "All Agencies"
