=content_for :title do
  = @landmark.name

-# =render partial: 'edit_landmark', layout: '/layouts/panel'
-# =render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_footer: true }
-#
-# =back_link admin_landmarks_path, label: "All Landmarks"
