=content_for :title do
  Landmarks

=render partial: '/shared/record_table',
  locals: { columns: [:name, :street_number, :route,
                      :city, :state, :zip, :lat, :lng],
            records: @landmarks}

=simple_form_for :landmarks, url: update_all_admin_landmarks_path, html: {class: 'form-horizontal', multipart: true, method: :patch }, authenticity_token: true do |f|
  =render partial: 'update_landmarks', layout: '/layouts/new_record_panel', locals: {f: f}
