- dash_mode = Config.dashboard_mode
=content_for :title do
  = dash_mode == 'travel_patterns' ? 'System POIs' : 'Landmarks'

-if dash_mode == 'travel_patterns'
  =render partial: 'travel_patterns_landmarks_table'
-if dash_mode == 'default'
  =render partial: 'default_landmarks_table'

-if can?(:create, Landmark) && dash_mode != 'travel_patterns'
  = simple_form_for @landmark,
      url: admin_landmarks_path,
      html: {method: :post, class: "form-horizontal" },
      authenticity_token: true do |f|
    =render partial: 'new_landmark', layout: '/layouts/new_record_panel', locals: {f: f}

  =simple_form_for :landmarks, url: update_all_admin_landmarks_path, html: {class: 'form-horizontal', multipart: true, method: :patch }, authenticity_token: true do |f|
    =render partial: 'update_landmarks', layout: '/layouts/new_record_panel', locals: {f: f}
- if dash_mode == 'travel_patterns'
  %footer.footer__links
    =link_to 'Return To Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
    =link_to 'Return To Dashboards', admin_path, class: 'btn btn-default'



:javascript
  $(document).ready(function() {

    // Link to appropriate feedback detail on row click
    $('#landmark-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });

    $('.datatable').DataTable({});

  });
