-# TRIP PLANNED DATE RANGE
=f.input :trip_time_from_date, required: false,
  input_html: {class: 'datepicker'}, 
  as: :string, label: "From Date"
=f.input :trip_time_to_date, required: false,
  input_html: {class: 'datepicker'}, 
  as: :string, label: "To Date"