=content_for :title do
  Planned Trips Dashboard

= DashboardReport.new(:planned_trips, trips: @trips, grouping: @grouping).html
-# =render partial: 'planned_trips_chart', locals: { trips: @trips, grouping: @grouping }

=back_link admin_reports_path
