=content_for :header do
  = "Uber Config"

=simple_form_for @uber_token,
  url: set_uber_token_admin_configs_path,
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: 'patch' },
  authenticity_token: true do |f|

  =f.input :value, required:true,
            label: "Uber Token",
            as: :string

:javascript
  $(document).ready(function() {
    new FormHandler($('#{form_selector_from_id}'));
  });
