=content_for :title do
  Configuration

= simple_form_for @open_trip_planner, url: set_open_trip_planner_admin_configs_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
  =render partial: 'otp_config', layout: '/layouts/panel', locals: {f: f}
