=content_for :title do
  Configuration

=render partial: 'trip_planning_apis', layout: '/layouts/panel'
=render partial: 'booking_apis', layout: '/layouts/panel'
=render partial: 'scheduled_tasks', layout: '/layouts/panel'
