%table.table.table-hover.alerts-table
  %thead.thead-default
    %tr
      %th ID
      %th Subject
      %th Message
      %th Expires
      %th 
  %tbody
    -@alerts.each do |alert|
      %tr{style: "cursor: pointer", data: {url: edit_admin_alert_path(alert)}}
        %td
          =alert.id
        %td
          =alert.subject
        %td
          =alert.message
        %td
          =alert.expiration.strftime("%D")
        %td
          =render partial: "shared/published_badge", locals: {object: alert}

:javascript
  $(document).ready(function() {
  
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  
    // Link to appropriate feedback detail on row click
    $('.alerts-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });
