#map {
  height: 350px;
}

// CSS for a button-like label for ingredients
@mixin ingredient-label($color) {
  border: 2px solid $color;
  background-color: lighten($color, 10%);
  &:hover {
    background-color: lighten($color, 8%);
  }
}

// For GeoRecipe ingredient display
.btn.ingredient-container {
  padding-right: 0px;
  margin: 4px;

  &.County {
    @include ingredient-label(powderblue);
  }

  &.City {
    @include ingredient-label(lightgreen);
  }

  &.Zipcode {
    @include ingredient-label(khaki);
  }

  &.CustomGeography {
    @include ingredient-label(thistle);
  }

}

// For Schedules UI
.schedule-row-wrapper {
  margin: 5px 0;
  padding: 5px 0;
  min-height: 50px;
}

.schedule-row-label {
  margin: 10px 0;
  // margin-bottom: 0;
}

.schedule-row-body-wrapper {
  padding: 0 10px;
}

.schedule-body {
  &.active {
    @include ingredient-label(lightgreen);
  }

  &.inactive {
    @include ingredient-label(gainsboro);
  }

  display: inline-block;
  // border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 5px 0 5px 5px;
  margin: 0 5px 5px 0;

  .schedule-form-group .schedule-input {
    border: none;
    background-color: transparentize(white, 0.8);
    box-shadow: none;
    width: 4em;
    padding-right: 0px;

  }
}
