#map {
  height: 350px;
}

// CSS for a button-like label for ingredients
@mixin ingredient-label($color) {
  border: 2px solid $color;
  background-color: lighten($color, 10%);
  &:hover {
    background-color: lighten($color, 8%);
  }
}

// For GeoRecipe ingredient display
.btn.ingredient-container {
  padding-right: 0px;
  margin: 4px;

  &.County {
    @include ingredient-label(powderblue);
  }

  &.City {
    @include ingredient-label(lightgreen);
  }

  &.Zipcode {
    @include ingredient-label(khaki);
  }

}
