=content_for :title do
  Booking Windows

%table.table.table-hover.datatable#funding-sources-table
  %thead.thead-default
    %tr
      %th Agency
      %th Name
      %th
      
  -@booking_windows.each do |booking_window|
    %tr
      %td
        =booking_window.agency.name
      %td
        =booking_window.name
      %td.text-right
        - if can? :update, BookingWindow
          =link_to edit_admin_booking_window_path(booking_window), class: "btn btn--no-bg" do
            %span.glyphicon.glyphicon-pencil
        - else
          =link_to admin_booking_window_path(booking_window), class: "btn btn--no-bg" do
            %span.glyphicon.glyphicon-eye-open
        - if can? :delete, BookingWindow
          =link_to admin_booking_window_path(booking_window), class: "btn text-danger btn--no-bg", method: :delete, data: {confirm: 'Warning: This will delete the Booking Window and it will be removed from any travel patterns in which it is currently being used. Press "OK" to confirm.'} do
            %span.glyphicon.glyphicon-trash

%div.text-center
  - modalID = 'new-booking-window'
  - if can? :create, BookingWindow
    - if @agency_map.length == 1
      =link_to 'New Booking Window', new_admin_booking_window_path(agency_id: @agency_map.first[1]), class: 'btn btn-primary'
    -else
      =link_to 'New Booking Window', '#' + modalID, class: 'btn btn-primary', 'data-toggle' => 'modal'
  =link_to 'Return to Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return to Dashboard', admin_path, class: 'btn btn-default'

=render layout: '/layouts/modal', locals: { title: 'Select Agency for New Booking Window', modalID: modalID } do
  =render partial: '/shared/select_agency', locals: { form_url: new_admin_booking_window_path }
