=content_for :title do
  Funding Sources

%table.table.table-hover.datatable#funding-sources-table
  %thead.thead-default
    %tr
      %th Agency
      %th Name
      %th
      
  -@funding_sources.each do |funding_source|
    %tr
      %td
        =funding_source.agency.name
      %td
        =funding_source.name
      %td.text-right
        - if can? :update, FundingSource
          =link_to edit_admin_funding_source_path(funding_source), class: "btn btn--no-bg" do
            %span.glyphicon.glyphicon-pencil
        - else
          =link_to admin_funding_source_path(funding_source), class: "btn btn--no-bg" do
            %span.glyphicon.glyphicon-eye-open
        - if can? :delete, FundingSource
          =link_to admin_funding_source_path(funding_source), class: "btn text-danger btn--no-bg", method: :delete, data: {confirm: 'Warning: This will delete the funding source and it will be removed from any travel patterns in which it is currently being used. Press "OK" to confirm.'} do
            %span.glyphicon.glyphicon-trash

%div.text-center
  - modalID = 'new-funding-source'
  - if can? :create, FundingSource
    - if @agency_map.length == 1
      =link_to 'New Funding Source', new_admin_funding_source_path(agency_id: @agency_map.first[1]), class: 'btn btn-primary'
    - elsif current_user&.currently_transportation?
      =link_to 'New Funding Source', new_admin_funding_source_path(agency_id: current_user&.current_agency&.id), class: 'btn btn-primary'
    -else
      =link_to 'New Funding Source', '#' + modalID, class: 'btn btn-primary', 'data-toggle' => 'modal'
  =link_to 'Return to Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return to Dashboard', admin_path, class: 'btn btn-default'

=render layout: '/layouts/modal', locals: { title: 'Select Agency for New Funding Source', modalID: modalID } do
  =render partial: '/shared/select_agency', locals: { form_url: new_admin_funding_source_path }
