%p
  ="#{SimpleTranslationEngine.translate(@resource.preferred_locale.try(:name) || 'es', 'emails.confirmation.welcome')}"
  =@email

%p
  ="#{SimpleTranslationEngine.translate(@resource.preferred_locale.try(:name) || 'es', 'emails.confirmation.message')}"

%p
  = link_to "#{SimpleTranslationEngine.translate(@resource.preferred_locale.try(:name) || 'es', 'emails.confirmation.confirm')}", confirmation_url(@resource, confirmation_token: @token)
