%tr{style: "cursor: pointer", data: {url: admin_od_zone_path(od_zone), geom: od_zone.region.geom_to_array}}
  %td
    =od_zone&.agency || Agency.first
  %td
    =od_zone.name
  %td.text-right
    %div
      - if current_user.superuser? || current_user.oversight_admin? || current_user.transportation_admin?
        =link_to edit_admin_od_zone_path(id: od_zone.id), class: "btn btn--no-bg", title: "Edit O/D Zone" do
          %span.glyphicon.glyphicon-pencil
        =link_to admin_od_zone_path(od_zone), method: :delete, class: "btn text-danger btn--no-bg", title: "Delete O/D Zone" do
          %span.glyphicon.glyphicon-trash
      - elsif current_user.oversight_staff? || current_user.transportation_staff?
        =link_to admin_od_zone_path(od_zone), class: "btn btn--no-bg", title: "View O/D Zone" do
          %span.glyphicon.glyphicon-eye-open