.form-group.string.optional.label-container
  .col-sm-6
    =render partial: 'admin/od_zones/od_zone_builder',
      locals: { wrapper_id: 'region', label_text: ""}
    =f.simple_fields_for :region do |r|
      =r.input :recipe, as: :hidden,
        input_html: { value: @od_zone.region.recipe.to_json.html_safe }
    %span{style: "float:right"}
      Note: 1 mile = 5.280 feet
  -# div for holding the service area map
  .col-sm-6
    #map

:javascript
  $(document).ready(function() {
    var opts = {
      viewCenter: [40.0024133,-75.2584558] // Philadelphia, PA
    };

    var map = M.setupMap('map', opts);

    var fh = new FormHandler($('#{form_selector_from_id}'));

    M.drawMaps(map, [
      #{@od_zone.region && @od_zone.region.geom_to_array}
    ]);

    var startOrEndAreaRecipe = new M.Recipe({
      container: $('#region'),
      recipeInput: $('#od_zone_region_attributes_recipe'),
      searchPath: '#{autocomplete_admin_od_zones_path}',
      ingredientLabelTag: '#{escape_javascript( render partial: "admin/od_zones/ingredient_label", locals: {can_update: true})}',
      mapObj: map
    });

    fh.onReset(function() {
      startOrEndAreaRecipe.reset();
    });

  });
