:css
  .center-buttons {
    text-align: center;
  }

=content_for :title do
  Origin/Destination Zones

%section.container--two-col
  %table.table.table-hover.datatable#od-zones-table
    %thead.thead-default
      %tr
        %th Agency
        %th Name
        %th
    =render partial: 'od_zone', collection: @od_zones
  %div#od-zones-map{style: "height: 420px; margin-left: 10px"}

%div.text-center
  - modalID = 'new-od-zone'
  - if can? :create, OdZone
    - if @agency_map.length == 1
      =link_to 'New O/D Zone', new_admin_od_zone_path(agency_id: @agency_map.first[1]), class: 'btn btn-primary'
    - elsif current_user&.currently_transportation?
      =link_to 'New O/D Zone', new_admin_od_zone_path(agency_id: current_user&.current_agency&.id), class: 'btn btn-primary'
    -else
      =link_to 'New O/D Zone', '#' + modalID, class: 'btn btn-primary', 'data-toggle' => 'modal'
  =link_to 'Return to Travel Patterns', root_admin_travel_patterns_path, class: 'btn btn-default'
  =link_to 'Return to Dashboard', admin_path, class: 'btn btn-default'

=render layout: '/layouts/modal', locals: { title: 'Select Agency for New O/D Zone', modalID: modalID } do
  =render partial: '/shared/select_agency', locals: { form_url: new_admin_od_zone_path }

:javascript

  $(document).ready(function() {
    // Link to appropriate feedback detail on row click
    $('#od-zones-table tbody tr td').click(function(e) {
      if (e.target !== this) {
        return;
      }
      else {
        //window.location = $(this).closest("tr").data("url");
      }
    });

    var dataTable = $('.datatable').DataTable({});

    document.addEventListener("turbolinks:before-cache", function() {
      if (dataTable !== null) {
       dataTable.destroy();
       dataTable = null;
      }
    });

    var opts = {
      viewCenter: [40.0024133,-75.2584558] // Philadelphia, PA
    };
    var map = M.setupMap('od-zones-map', opts);

    // Update map on row click
    $("#od-zones-table").on("click", "tbody tr", function() {
      var geography_geom = $(this).data("geom");
      // Clear previous geographies from map.
      map.eachLayer(function (layer) {
        if (M.tileLayerUrls.osm != layer._url) {map.removeLayer(layer)};
      });
      M.drawMaps(map, [
        geography_geom
      ]);
      // Highlight clicked row.
      var selected = $(this).hasClass("highlight");
      $("#od-zones-table tr").removeClass("highlight");
      if(!selected)
        $(this).addClass("highlight");
    });
  });
