=content_for :title do
  = "#{@user.first_name} #{@user.last_name}".strip

=render partial: 'edit_user', layout: '/layouts/panel'

-unless @user == current_user
  =render partial: 'danger_zone', layout: '/layouts/panel', locals: { panel_style: "danger", hide_footer: true }

- if @user.admin_or_staff?
  =back_link staff_admin_users_path, label: "All Staff"
- else
  =back_link travelers_admin_users_path, label: "All Travelers"
