=content_for :title do
  Staff
%table.table.table-hover#staff-table
  %thead.thead-default
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th Last Signed In
      
  -@staff.each do |member|
    %tr{style: "cursor: pointer", data: {url: edit_admin_user_path(member)}}
      %td
        =member.last_name
      %td
        =member.first_name
      %td
        =member.email
      %td
        -unless member.last_sign_in_at.nil?
          =member.last_sign_in_at.strftime("%a, %e %b %Y %H:%M:%S %z").in_time_zone

= simple_form_for @new_user, 
    url: admin_users_path, 
    html: {method: :post }, 
    authenticity_token: true do |f|
  =render partial: 'new_user', layout: '/layouts/new_record_panel', locals: {f: f}

:javascript
  $(document).ready(function() {
  
    // Link to appropriate feedback detail on row click
    $('#staff-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });
