=content_for :title do
  Staff
%table.table.table-hover.datatable#staff-table
  %thead.thead-default
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th User Type
      %th Staff Agency
      %th Last Signed In

  -@staff.each do |member|
    %tr{style: "cursor: pointer", data: {url: edit_admin_user_path(member)}}
      %td
        =member.last_name&.capitalize
      %td
        =member.first_name&.capitalize
      %td
        =member.email
      -# hope that the user doesn't have multiple roles
      %td
        =member.roles_name.last&.capitalize
      %td
        =member.staff_agency.try(:name)
      %td
        -unless member.last_sign_in_at.nil?
          =member.last_sign_in_at.to_formatted_s(:long)

= simple_form_for @user,
    url: admin_users_path,
    html: {method: :post, class: "form-horizontal" },
    authenticity_token: true do |f|
  =render partial: 'new_user', layout: '/layouts/new_record_panel', locals: {f: f}

:javascript
  $(document).ready(function() {

    // Link to appropriate feedback detail on row click
    $('#staff-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });

    $('.datatable').DataTable({});

  });
