=content_for :header do
  ="Upload Custom Geographies"

= f.input "file", required:true, label: "Upload Shapefile", :as => :file
= simple_form_for :agency do |fa|
  = fa.input :agency,
    collection: @agencies,
    label: 'Transportation Agency',
    selected: @agencies&.length == 1 ? @agencies&.first.id : nil,
    disabled: !(current_user.superuser? || current_user.currently_oversight?),
    include_blank: "Select a Transportation Agency"
  = fa.input :agency,
    as: :hidden,
    collection: @agencies,
    label: 'Transportation Agency',
    selected: @agencies&.length == 1 ? @agencies&.first.id : nil,
    disabled: current_user.superuser? || current_user.currently_oversight?,
    include_blank: "Select a Transportation Agency",
    input_html: { id: 'hidden_agency',
      value:@agencies&.length == 1 ? @agencies&.first.id : nil}