=content_for :title do
  Standard Geographies:
=content_for :header_form do
  -# NOTE: the below form is for handling redirects based on the selected geography type
  %div.wrapper-header-form
    =simple_form_for :type,
    url: admin_geographies_path,
    html: {class: 'form-horizontal', id:'geography_type_form', multipart: true, method: :get },
    authenticity_token: true do |f|
      = f.input :type,
        collection:  @geography_types,
        include_blank: false,
        label: false,
        selected: params[:type]&.gsub('_',' ')&.titleize
%section.container--two-col
  %table.table.table-hover.datatable#geographies
    %thead.thead-default
      %tr
        %th Name
    %tbody
      -@geographies.each do |geography|
        %tr
          %td
            = geography&.name
  %div.map_placeholder

:javascript
    $(document).ready(function() {

    // Link to appropriate feedback detail on row click
    $('#geographies tbody tr').click(function() {
      window.location = $(this).data("url");
    });

    /*
      NOTE: the below onChange event listener redirects to geographies page but appends the geography type
      as a query param(cleaned up a bit if there's spaces)
    */
    $('#type_type').change(function() {
      const input = $(this).val()
      window.location.assign('#{admin_geographies_path}' + '?type='+input.toLowerCase().replace(' ','_'))

    })

    // $.fn.DataTable.ext.pager.numbers_length = 5
    $('.datatable').DataTable({});

  });
