=content_for :title do
  Geography

-# Upload Forms
.row
  .col-md-6
    =simple_form_for :geographies,
      url: admin_counties_path,
      html: {class: 'form-horizontal', multipart: true, method: :post },
      authenticity_token: true do |f|
      =render partial: 'upload_counties', layout: '/layouts/new_record_panel', locals: {f: f}
  .col-md-6
    =simple_form_for :geographies,
      url: admin_cities_path,
      html: {class: 'form-horizontal', multipart: true, method: :post },
      authenticity_token: true do |f|
      =render partial: 'upload_cities', layout: '/layouts/new_record_panel', locals: {f: f}
  .col-md-6
    =simple_form_for :geographies,
      url: admin_zipcodes_path,
      html: {class: 'form-horizontal', multipart: true, method: :post },
      authenticity_token: true do |f|
      =render partial: 'upload_zipcodes', layout: '/layouts/new_record_panel', locals: {f: f}
  .col-md-6
    =simple_form_for :geographies,
      url: admin_custom_geographies_path,
      html: {class: 'form-horizontal', multipart: true, method: :post },
      authenticity_token: true do |f|
      =render partial: 'upload_custom_geographies', layout: '/layouts/new_record_panel', locals: {f: f}

-# Tables
.row
  .col-md-3
    %h2 Counties
    =render partial: '/shared/record_table',
      locals: {columns: [:name, :state], records: @counties}
  .col-md-3
    %h2 Cities
    =render partial: '/shared/record_table',
      locals: {columns: [:name, :state], records: @cities}
  .col-md-3
    %h2 Zipcodes
    =render partial: '/shared/record_table',
      locals: {columns: [:name], records: @zipcodes}
  .col-md-3
    %h2 Custom
    =render partial: '/shared/record_table',
      locals: {columns: [:name], records: @custom_geographies}
