-if Config.dashboard_mode == 'travel_patterns'
  =render partial: 'admin/geographies/travel_patterns_index'
-if Config.dashboard_mode =='default'
  =render partial: 'admin/geographies/default_index'


