.itinerary-icons {
  text-align: center;
  line-height: normal;
  font-size: 2.25em;
  padding-right: 5px;
}

.itin-text-container {
  padding-left: 5px;
  padding-top: 10px;
}

.itinerary-text {
  font-size: 50em;
  text-align: left;
  line-height: 1em;
  padding: 0px;
  strong {
    top: 0;
    position: absolute;
  }
}

.itinerary-text-small{
  //font-size: 1em;
  // line-height: 0px;
  text-align: left;
  vertical-align: top;
  padding: 0px;
}