.panel.panel-primary
  .panel-heading
    %h4
      =yield_content :header
  .panel-body.panel-primary
    -if content_for?(:body)
      =yield_content :body
    -else
      =yield
  .panel-footer.panel-primary
    %center
      -if content_for?(:footer)
        =yield_content :footer
      -else
        = f.button :submit, "OK"
