.panel.panel-default
  .panel-heading
    %h4
      =yield_content :header
  .panel-body
    -if content_for?(:body)
      =yield_content :body
    -else
      =yield
  .panel-footer
    %center
      =yield_content :footer
